//---------------------------------------------fonts
$font_1: 'Oswald', sans-serif;
$openSans: 'OpenSans', sans-serif;
$grooveBold: 'Grooved-Bold', 'sans-serif';

$font_size_base: 1.6rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;

$black_2: #1c1f24;
$white_2: #d6d3ce;
$red_1: #a6342e;
$gray: #4a5568;
$green: #3a5a40;

$color_text_base: $white_2;
$color_link_base: #4aa3df;

$body_bg: $black_2;

//---------------------------------------------colors###

//---------------------------------------------layout

$page_width: 168rem;

//---------------------------------------------layout###

//---------------------------------------------global values

$gl_radius: 0.5rem;

//---------------------------------------------global values###

//---------------------------------------------media points

$point_0: 1441px;
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;

//---------------------------------------------media points

//---------------------------------------------forms

$input_height: 4.4rem;
$input_offset: 0 1.6rem;
$input_font_size: 1.2rem;
$input_border_color: $black;
$input_border_color_active: $black;
$input_placeholder_color: rgba($black, 0.62);
$input_text_color: $black;
$input_radius: 0;

//---------------------------------------------forms###
